.errorMessage {
  animation: errorMessage 0.4s 1;
  -webkit-animation: errorMessage 0.4s 1;
  animation-fill-mode: forwards;

  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;

  color: #f45e58;
  line-height: 0px;
}

@keyframes errorMessage {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes errorMessage {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
